In [14]:
import requests
import pandas as pd
import pyodbc
import os
from sqlalchemy import create_engine

In [15]:
apiURL = "https://fortnite-public-api.theapinetwork.com/prod09/users/public/br_stats_v2?user_id=4735ce9132924caf8a5b17789b40f79c"

In [16]:
resp = requests.get(apiURL)

In [17]:
raw = resp.json()

In [18]:
df = pd.DataFrame(raw['overallData']['defaultModes']).drop('includedPlaylists', axis = 1).drop_duplicates()

In [19]:
df['recordCollectDate'] = pd.to_datetime('today')
df['accountId'] = raw['accountId']
df['epicName'] = raw['epicName']

In [20]:
df.head()

,kills,matchesplayed,placetop1,playersoutlived,score,recordCollectDate,accountId,epicName
0,101676,15177,5379,108961,670232,2019-05-07 16:12:46.254249,4735ce9132924caf8a5b17789b40f79c,Ninja

In [21]:
con_str = 'mssql+pyodbc://' + os.environ['DB_USER'] + ':' + os.environ['DB_PWD'] + '@' + os.environ['DB_SERVER']+':' + os.environ['DB_PORT'] + '/' + os.environ['DB_NAME'] + '?driver=' + '+'.join(os.environ['DB_DRIVER'].split(' '))

In [22]:
con_str

'mssql+pyodbc://sa:blogPWD123!@host.docker.internal:1433/master?driver=ODBC+Driver+17+for+SQL+Server'

In [23]:
con = create_engine(con_str)

In [24]:
df.to_sql('fortnite', con, if_exists='append', index = False)